li {
  text-transform: lowercase;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: space-between;
}

svg {
  padding: 3px;
  margin-left: 5px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
svg:hover {
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  transition: 0.3s;
}
svg:active {
  border-radius: 50%;
  cursor: pointer;
  background-color: #8117e4;
  transition: 0.1s;
  color: #ffffff;
}
h2#teste {
  font-family: "Quicksand", sans-serif;
}
