li {
  list-style: none;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.3);
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px 0;
}
h3 {
  color: #8117e4;
  font-family: "Comfortaa", cursive;
  font-weight: 900;
  font-size: 2rem;
}
.done {
  text-decoration: line-through;
}
.container {
  padding: 10px;
  display: flex;
  justify-content: center;
}
ul {
  margin: 0 10px;
  width: 400px;

  padding: 10px;
}
@media (max-width: 520px) {
  .container {
    width: 300px;
  }
}
