input {
  width: 330px;
  border: none;
  height: 32px;
  padding: 11px;
  margin: 0 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
}
textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
.search {
  width: 400px;
}
@media (max-width: 520px) {
  .search {
    width: 300px;
  }
  input {
    width: 200px;
  }
}
